<!DOCTYPE html>
{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Password Reset forum
{% endblock%}

{% block body %}
<div class="main" style="background-image: url({% static 'images/bg-pic.jpg' %})">
	<h1 style="color: white; font-size: 30px; margin-top: 50px">Forgot password</h1>

	<form  method="post">
		{% csrf_token %}
		<div class="container" style="color: white; font-size: 18px; margin-top: 50px">
			{{ form|crispy }}
		<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</form>
</div>
{% endblock%}