{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% providers_media_js %}


{% block title %}
Login
{% endblock %}

{% block body %}
<div class="main" style="background-image:linear-gradient(45deg,#0f8,#08f);">
    <div class="signbox">
    	<img src="{% static 'images/log.png' %}" class="avatar" >

        <h1>Welcome Back!</h1>
        {% if form.errors %}
			<p style="color: red">Check your username and password</p>
		{% endif %}
        <form class="formbox" method="POST">
	        {% csrf_token %}
	        {{ form.username|as_crispy_field  }}
	        {{ form.password|as_crispy_field  }}
	        <input type="submit" value="Login">
	        <a href="{% provider_login_url "google" %}">
	        	<h2>Login With Google</h2>
	        </a>

	        <a href="{% url 'account:password_reset' %}">Forgot Password!</a><br>
            <h7 style="font-size:12px">Don't have an account </h7><a href="{% url 'account:signup' %}">Sign Up</a><h7 style="font-size:12px"> here</h7>
        </form>
    </div>
</div>

{% endblock %}


