<!DOCTYPE html>
{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
PICTURE
{% endblock%}

{% block body %}

<div class="container" style="margin-top: 25px;">
	<div style="text-align: center;" >
		<a href="{% url 'user_data:pic' %}" style="padding-left: 30px;">Back</a>
		<a href="{% url 'user_data:edit' detail.id %}" >Edit</a>
		<a  href="{% url 'user_data:delete' detail.id %}" >Delete</a>
	</div>
	<h1 style="color:red;text-align:center;font-size: 40px">{{detail.title}}</h1>
	<h1 style="color:black;text-align:center;font-size: 25px">{{detail.description}}</h1> 
	<div class="card-group">
		<div class="row">
			{% for i in detail.multipleimg_set.all %}
				<div class="card col-md-4"  style="margin-bottom: 5px;">
					<img class="card-img-top" src= "{{ i.picture.url }}" alt="Avatar" >
				</div>
			{% endfor %}
		</div>
			
	</div>
</div>

    
        
        

{% endblock%}

